DB_HOST=URL_DU_SERVEUR
DB_PORT=PORT_DU_SERVEUR
DB_DATABASE=NOM_DE_LA_BASE
DB_USERNAME=UTILISATEUR_DE_LA_BASE
DB_PASSWORD=MOT_DE_PASSE_DE_LA_BASE
APP_ENV=dev/prod
APP_URL=http://speedreporting/
SMTP_HOST=HOST_SMTP
SMTP_PORT=PORT_SMTP
SMTP_USERNAME=UTILISATEUR_SMTP
SMTP_PASSWORD=MOT_DE_PASSE_SMTP
SMTP_FROM_EMAIL=EMAIL_DE_LA_SOURCE
SMTP_FROM_NAME=NOM_DE_LA_SOURCE