/* Settings */
.section-settings {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
    color: var(--text-light);
}

.section-settings.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.section-settings .settings-container {
    background-color: var(--bg-light);
    border-radius: var(--radius);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1000px;
    height: 60%;
    max-height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.section-settings .nav-settings {
    display: flex;
    background-color: var(--bg-light-2);
    border-bottom: 1px solid var(--color-shadow);
    padding: 10px;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section-settings .nav-content ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.section-settings .nav-content li {
    font-weight: bold;
    padding: 8px 14px;
    border-radius: var(--radius);
    cursor: pointer;
    background-color: var(--bg-light);
    transition: background-color 0.3s;
}

.section-settings .nav-content li:hover {
    background-color: var(--bg-light-2);
}

.section-settings .settings-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.section-settings .settings-content>div {
    display: none;
}

.section-settings .settings-content>div.active {
    display: block;
}

.section-settings .settings-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: var(--bg-pastel);
    padding: 6px 12px;
    border-radius: 8px;
}

.section-settings form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.section-settings .form-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section-settings .form-content label {
    font-size: 0.9rem;
    color: var(--text-light);
}

.section-settings .form-content input {
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: var(--radius);
    background-color: var(--bg-light);
    color: var(--text-light);
}

.section-settings input::placeholder {
    color: var(--text-light);
}

.section-settings .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.section-settings .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.section-settings .slider {
    position: absolute;
    inset: 0;
    background-color: var(--color-shadow);
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.section-settings .slider::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-light);
    border-radius: 50%;
    transition: 0.3s;
}

.section-settings .switch input:checked+.slider {
    background-color: var(--status-success);
}

.section-settings .switch input:checked+.slider::before {
    transform: translateX(16px);
}

.section-settings .button.success.settings {
    padding: 8px 14px;
    background-color: var(--status-success);
    color: var(--text-dark);
    border-radius: var(--radius);
    text-decoration: none;
    width: 45px;
    gap: 6px;
    transition: background-color 0.3s;
}

.section-settings .button.success:hover {
    background-color: var(--status-success-bg);
}

/* Média Queries */
@media (min-width: 769px) {
    .section-settings .settings-container {
        flex-direction: row;
    }

    .section-settings .nav-settings {
        flex-direction: column;
        border-bottom: none;
        border-right: 1px solid var(--color-shadow);
        width: 25%;
        max-width: 200px;
        min-width: 150px;
        padding: 20px 10px;
    }

    .section-settings .nav-content ul {
        flex-direction: column;
        gap: 12px;
    }

    .section-settings .settings-content {
        width: 75%;
        padding: 30px;
    }
}