.user-create form {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.user-create form .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}